<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corporate Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>

  <body ng-app="corporateDashboard" ng-controller="viewController">
    <header>
      <nav class="navbar navbar-default navbar-position">
        <div class="navbar-header">
          <span id="nav-title">
            <i class="fa fa-wpexplorer" aria-hidden="true"></i> <span id="brand-text">Corporate Dashboard</span>
          </span>
          <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse in">
          <ul class="nav navbar-nav">
            <li ng-class="{active: isActive('/geospatial')}" >
              <a role="link" ng-click="setPagename('/geospatial')" ng-keyup="$event.keyCode == 13 ? setPagename('/geospatial') : null">
                <i class="fa fa-globe" aria-hidden="true"></i> Geospatial
              </a>
            </li>
            <li ng-class="{active: isActive('/metrics') || !(isActive('/geospatial') || isActive('/data'))}" >
              <a role="link" ng-click="setPagename('/metrics')" ng-keyup="$event.keyCode == 13 ? setPagename('/metrics') : null">
                <i class="fa fa-bar-chart" aria-hidden="true"></i> Metrics
              </a>
            </li>
            <li ng-class="{active: isActive('/data')}" >
              <a role="link" ng-click="setPagename('/data')" ng-keyup="$event.keyCode == 13 ? setPagename('/data') : null">
                <i class="fa fa-table" aria-hidden="true"></i> Data
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div>
        <div id="content" ng-switch on="getPagename()">
            <div ng-switch-when="/geospatial">
              <ng-include src="'templates/geospatial.html'"></ng-include>
            </div>
            <div ng-switch-when="/data">
              <ng-include src="'templates/data.html'"></ng-include>
            </div>
            <div ng-switch-default>
              <ng-include src="'templates/metrics.html'"></ng-include>
            </div>
        </div>
      </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/dirPagination.js"></script>
    <script src="js/services/d3.js"></script>
    <script src="https://d3js.org/topojson.v0.min.js"></script>
    <script src="js/controllers/appCtrl.js"></script>
    <script src="js/directives/d3Charts.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
  </body>
</html>
