<div class="bs-component" ng-controller="issuesCtrl">
  <div class="container-fluid" id="search-bar">
    <form>
        <div class="form-group">
            <input type="text" ng-model="search" class="form-control" aria-label="Search" placeholder="Search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </form>
  </div>
  <div class="container-table">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Description</th>
          <th>Employee Name</th>
          <th class="sort-select" ng-click="sort('created_at')">Submission Date
            <i class="fa fa-sort" aria-hidden="true"></i>
          </th>
          <th>Status</th>
          <th>Closed Date</th>
          <th>Customer Name</th>
          <th>Customer Email</th>
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="obj in objects|filter:search|orderBy:sortType:sortReverse|itemsPerPage:11">
          <td>{{obj.title}}</td>
          <td>{{obj.user.login}}</td>
          <td>{{obj.created_at | date:'MM-dd-yyyy'}}</td>
          <td>{{obj.state}}</td>
          <td>{{(obj.closed_at == null) && 'n/a' || obj.closed_at }}</td>
          <td>{{customerName}}</td>
          <td>{{customerEmail}}</td>
        </tr>
      </tbody>
    </table>
    <dir-pagination-controls
       max-size="5"
       direction-links="true">
    </dir-pagination-controls>
  </div>
</div>
