<div class="container-fluid" id="bar-chart">
    <div ng-controller="barCtrl">
      <d3-bars data="d3Data" label="title"></d3-bars>
    </div>
</div>
<div class="container-fluid" id="line-chart">
    <div ng-controller="lineCtrl">
      <d3-lines data="d3Data" label="title"></d3-lines>
    </div>
</div>
<div class="container-fluid">
  <div id="open-issues" ng-controller="openIssuesCtrl">
    <strong id="open-info">{{openNum}} Issues Open</strong>
    <a role="link" ng-click="setPagename('/data')" ng-keyup="$event.keyCode == 13 ? setPagename('/data') : null">
      <i class="fa fa-table" aria-hidden="true"></i> See open issues
    </a>
  </div>
</div>
