<div class="container-fluid">
  <div ng-controller="issuesCtrl">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="obj in objects | filter : paginate">
          <td>{{obj.id}}</td>
          <td>{{obj.title}}</td>
          <td>{{obj.created_at | date:'MM-dd-yyyy'}}</td>
          <td>{{obj.state}}</td>
        </tr>
      </tbody>
    </table>
    <pagination total-items="totalItems" ng-model="currentPage"
      max-size="11" items-per-page="numPerPage" class="pagination-sm">
    </pagination>
  </div>
</div>
